__pycache__
.venv
env/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
coverage/
dist/
build/   
*.egg-info/
.env
*.sqlite3
node_modules/
npm-debug.log
yarn-error.log
# Python virtual environment
venv/

# ML artifacts
models/
*.pkl

# Jupyter
.ipynb_checkpoints/

# Cache
__pycache__/
*.pyc

# Data folders
data/
processed/


